.Rhistory
.Rproj.user
data/report.pdf
data/ParlEE_AT_plenary_speeches.csv
data/iran_tweets.csv.zip
1_Obtaining_Text_Data_files/
2_Regression_and_Scaling_files/
3._Supervised_Classification_Methods_files/
